/* BASIC STYLES HERE */
.finger-paint {
  font-family: 'Finger Paint', cursive;
}

header {
  background-image: url('../img/Clouds.png');
}

body {
  background-color: #88CDDD;
}

footer {
  background-image: url('../img/Grass.png');
  height: 10vh;
}

.logo {
  color: #F3FD37;
  -webkit-text-stroke: 1px black;
  font-size: 45px;
}

.bird-card {
  border: solid 4px;
  border-radius: 15px;
  box-shadow: 10px 6px #F3FD37;
  background-color: #88CDDD;
}

.bird-card:hover {
  transform: scale(1.05);
}

.bird-img {
  width: 100%;
  height: 35vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.watcher-img {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}